@import '../../mixins';

.modern-player {
  max-width: 900px;
  max-height: 760px;

  display: grid;

  align-content: space-around;

  grid-template-rows: 70vh;
  grid-template-columns: 1fr;
  grid-template-areas:
  'dock'
  'player';
  gap: 1.4rem;
  
  @include useMedia(large) {
    grid-template-columns: 0.6fr 1fr;
    grid-template-areas: 'dock player';
  }

  .dock {
    grid-area: dock;

    justify-self: self-end;

    width: 100%;

    padding: useClamp(64) useClamp(16);

    @include useMedia(large) {
      padding: useClamp(16);
      max-width: 215px;
    }

    place-items: center;

    display: grid;
    $base-row: 1fr;
    grid-template-rows:
      1fr
      1.8fr
      1.6fr;

    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-areas:
      '. dotted .'
        '. preview .'
        '. footer .'
      ;

    @include useMedia(large) {
      grid-template-columns: 100%;

      grid-template-areas:
          'dotted'
          'preview'
          'footer'
        ;
    }
    row-gap: useClamp(20);

    border-radius: 4px;
    background: var(--color-modern-yellow-200);

    background-clip: padding-box;
    border: solid 1px transparent;
    position: relative;

    box-shadow: 0px 8px 37px 3px rgba(118, 50, 0, 0.83);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: var(--color-modern-yellow-50);
    }

    .dotted-grid {
      grid-area: dotted;

      display: grid;
      grid-template-columns: repeat(32, 5px);

      @include useMedia(large) {
        grid-template-columns: repeat(13, 5px);
      }
      
      grid-template-rows: auto;
      gap: 10px;

      .dot {
        $size: 7px;
        width: $size;
        height: $size;

        background: var(--color-modern-yellow-100);

        border-radius: 50%;

        position: relative;

        &::before {
          content: '';

          // $size2: $size - ($size * 0.4);
          $size2: 4.2px;
          width: $size2;
          height: $size2;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          
          border-radius: inherit; /* !importanté */
          background: var(--color-modern-gray-900);
        }
      }
    }

    .preview {
      grid-area: preview;

      width: 100%;
      height: 150px;
      
      @include useMedia(large) {
        height: 100%;
      }

      background: var(--color-modern-yellow-250);

      display: grid;
      place-items: center;

      .display {
        width: calc(100% - 6px);
        height: calc(100% - 6px);

        background: var(--color-modern-gray-900);
        border-radius: 5px;
      }

      border-radius: 5px;
    }

    footer {
      grid-area: footer;

      width: 100%;
      height: 100%;
      
      display: grid;
      grid-template-columns: 1.2fr 0.8fr;

      @include useMedia(large) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-direction: row;
      }
  
      .levels {
        width: 40%;
        display: grid;
        grid-template-areas:
          "title"
          "lines"
        ;
        grid-template-rows: auto 4fr;
        grid-template-columns: auto;
        place-items: center;

        padding-top: useClamp(8);
        padding-bottom: useClamp(6);

        .title {
          width: 100%;
          grid-area: title;
          opacity: 0.7;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          margin-bottom: 0.2rem;
  
          h4 {
            color: var(--color-modern-gray-100);

            font-size: useClamp(22);

            @include useMedia(large) {
              font-size: useClamp(12);
            }
          }
        }

        .lines {
          grid-area: lines;
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 100%;

          .line {
            width: 27%;
            max-width: 25px;
            border-radius: 16px;
            position: relative;
            background: linear-gradient(150.95deg, #C0841A -21.43%, #FCD453 104.76%);
            height: 100%;

            &::before {
              content: "";
  
              position: absolute;
              inset: 0;
              margin: auto;
              border-radius: calc(16px * 2);
  
              width: calc(100% - 12px);
              height: calc(100% - 12px);
            }

            &-1::before {
              background: linear-gradient(180deg, #1A191E 17.5%, #4971FF 27.37%, #6349FF 94.79%);
            }

            &-2::before {
              background: linear-gradient(180deg, #1A191E 37.53%, #FF4949 47.23%, #E02115 100%);
            }

            &-3::before {
              background: linear-gradient(180deg, #1A191E 58.23%, #2AD870 66.27%, #00C868 100%);
            }
          }
        }
      }

      .dock-control {
        display: grid;
        grid-template-areas:
          "title"
          "lights"
        ;
        grid-template-rows: auto 4fr;
        grid-template-columns: auto;
        place-items: center;
        border-radius: 8px;
  
        padding: useClamp(8);
        padding-bottom: useClamp(6);
  
        background: rgba(255, 255, 255, 0.425);
  
        .title {
          width: 100%;
          grid-area: title;
          opacity: 0.7;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          margin-bottom: 0.2rem;
  
          h4 {
            color: var(--color-modern-yellow-270);
            font-size: useClamp(22);

            @include useMedia(large) {
              font-size: useClamp(12);
            }
          }
        }
  
        .lights {
          grid-area: lights;
          display: grid;
          grid-template-rows: repeat(4, 1fr);
          grid-template-columns: repeat(2, 1fr);
          justify-content: space-between;
          place-items: center;
          width: 100%;
          height: 97%;
          opacity: 1;
          border-radius: 6px;
          background: linear-gradient(180deg, #ECB54A 0%, #E8AE47 100%);
          padding: useClamp(4) 0;
  
          .light {
            $lightSize: 12px;
            width: $lightSize;
            height: $lightSize;
            background: linear-gradient(150.95deg, #C0841A -21.43%, #FCD453 104.76%);
  
            position: relative;
            border-radius: 50%;
  
            // box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.5);
            
            &::before {
              content: "";
  
              width: calc(100% - 3px);
              height: calc(100% - 3px);
              
              position: absolute;
              inset: 0;
              margin: auto;
              
              border-radius: 50%;
            }
  
            &::after {
              content: "";
  
              width: 100%;
              height: 100%;
  
              z-index: 10;
  
              
              box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.25);
              background: rgba(255, 255, 255, 0.4);
              
              position: absolute;
              top: 50%;
              left:  50%;
              transform: translate(-50%, -50%);
  
              border-radius: 50%;
            }
            
            &:not(.light-1) {
              &::before {
                background: #fff;
              }
            }
  
            &-1 {
              &::before {
                background: radial-gradient(116.67% 116.67% at 33.33% 25%, #95A29F 0%, #3E3E3E 100%);
              }
            }
          }
  
          .button {
            width: 22px;
            height: 22px;
  
            border-radius: 50%;
            background: linear-gradient(180deg, #656565 -41.36%, #020101 58.64%);
            margin-top: 0.4rem;
            
            position: relative;
  
            &::before {
              content: "";
  
              position: absolute;
              inset: 0;
              margin: auto;
  
              width: calc(100% - 3px);
              height: calc(100% - 3px);
              
              border-radius: 50%;
              background: radial-gradient(102.27% 102.27% at 59.09% 59.09%, #494850 0%, #000000 100%);
            }
  
            &::after {
              content: "";
  
              position: absolute;
              top: 4px;
  
              width: 0;
              height: 0;
  
              $triangleSize: 4px;
              border-left: $triangleSize solid transparent;
              border-right: $triangleSize solid transparent;
              border-bottom: $triangleSize solid #fff;
            }
            
            &-left {
              &::after {
                left: 4px;
                transform: rotate(-45deg);
              }
            }
            
            &-right {
              &::after {
                right: 4px;
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }
  }

  .player-right {
    grid-area: player;

    padding: useClamp(32);

    @include useMedia(large) {
      max-width: 670px;
    }

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    background: var(--color-modern-yellow-200);

    background-clip: padding-box;
    border: solid 1px transparent;
    position: relative;

    box-shadow: 0px 8px 37px 3px rgba(118, 50, 0, 0.83);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: var(--color-modern-yellow-50);
    }

    .disc {
      $size: useClamp(100);

      @include useMedia(small) {
        $size: useClamp(100);
        width: $size;
        height: $size;
      }
      
      @include useMedia(medium) {
        $size: useClamp(300);
        width: $size;
        height: $size;
      }
      
      @include useMedia(large) {
        $size: useClamp(500);
        width: $size;
        height: $size;
      }
      
      width: $size;
      height: $size;

      position: relative;

      border-radius: 50%;
      background: linear-gradient(180deg, #3F3C37 0%, #191813 100%);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      
      &::before {
        content: "";
        
        border-radius: 50%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: calc(100% - 1px);
        height: calc(100% - 1px);

        background: transparent;
        border: 2px solid #181718;

        box-shadow: 0 0 1px 1px #181718;
      }

      .middle {
        width: 40%;
        height: 40%;

        position: absolute;
        inset: 0;
        margin: auto;

        border-radius: 50%;
        background: linear-gradient(180deg, #3E3B36 0%, #1A1914 100%);
        box-shadow: -2px -4px 4px #3E3B36, 2px 4px 4px #1B1A15;

        &::before {
          content: "";

          width: 60%;
          height: 60%;

          position: absolute;
          inset: 0;
          margin: auto;

          border-radius: 50%;
          background: #3F3C37;
          box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.6);
        }
      }

      .needle {
        height: 100%;
        position: absolute;
        
        top: -30%;
        right: -60%;
        transform: rotate(90deg) scale(0.9);

        @include useMedia(large) {
          top: -5%;
          right: 15%;
          transform: rotate(0deg);
        }

        .stand {
          width: 10px;
          height: 30px;

          z-index: 10;

          background: transparent;
          position: relative;

          top: 5%;
          left: 50%;
          transform: translateX(-50%);

          &::before, &::after {
            content: "";

            width: 12px;
            height: 30px;
            background:
              linear-gradient(90deg, #38373D -14%, #EBE9EB 39.85%, #FFFDFF 61.91%, #5E5C61 110%),
              linear-gradient(89deg, #38373D -12.81%, #FFFDFF 52.58%, #5E5C61 109.1%);


            position: absolute;
          }

          &::before {
            left: -15px;
          }

          &::after {
            right: -15px;
          }
        }

        .bar {
          width: 16px;
          height: 270px;

          border-radius: 3px;
          background: linear-gradient(to right, #201C1B 0%, #35312E 23.31%, #76716E 44.58%, #2B2726 66.65%, #262322 100%);

          position: relative;
          
          .tip {
            position: absolute;

            left: 50%;
            transform: translateX(-50%);
            bottom: 0;

            width: 100%;
            height: 40px;
            border-radius: 4px;

            border: 1px solid #EBEBEB;
            background: #C4C4C4;

            &::before {
              content: "";

              position: absolute;
              top: 30%;
              left: 50%;
              transform: translate(-50%, -50%);

              width: 5px;
              height: 5px;

              background: #202020;
              border-radius: 50%;
            }

            &::after {
              content: "";
              position: absolute;
              top: 70%;
              left: 50%;
              transform: translate(-50%, 0);

              width: 7px;
              height: 7px;

              background: #EDBB88;
              box-shadow: inset 0px 1px 3px #9A6227;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
