@import '../../mixins';

.windows-95-player {
  max-width: 612px;
  max-height: 326px;

  /* 54px */
  padding: useClamp(34);

  /* 42px */
  border-radius: useClamp(24);

  background: var(--color-windows95-gray-200);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 30% 30%;
  row-gap: 1rem;
  grid-template-areas:
    'music-info'
    'buttons'
    'length';

  .music-info {
    grid-area: music-info;
    position: relative;

    .content {
      width: 98%;
      height: 90%;

      position: absolute;
      inset: 0;
      margin: auto;

      z-index: 2;

      background: var(--color-windows95-gray-500);

      @include useMedia(small) {
        padding: useClamp(16);

        h1 {
          font-size: useClamp(20);
        }
      }

      @include useMedia(medium) {
        padding: useClamp(20);

        h1 {
          font-size: useClamp(24);
        }
      }

      @include useMedia(large) {
        padding: useClamp(12);

        h1 {
          font-size: useClamp(32);
        }
      }

      display: flex;
      flex-direction: row;

      align-items: flex-start;
      justify-content: space-between;

      .description {
        display: flex;
        flex-direction: column;

        row-gap: 0.5rem;

        color: var(--color-windows95-green-100);
        font-family: 'Press Start 2P', 'VT323', monospace;

        ::selection {
          background: hsla(120, 100%, 50%, 0.3);
        }

        h1 {
          font-size: useClamp(32);
        }

        p {
          font-size: useClamp(16);
        }
      }

      .bars {
        align-self: end;

        display: flex;
        align-items: baseline;
        justify-content: space-between;

        column-gap: 0.6rem;

        .bar {
          cursor: pointer;

          padding: useClamp(22) useClamp(12);
          background: var(--color-windows95-blue-100);

          transition: background 300ms, padding 300ms;

          &:hover,
          &:focus {
            background: var(--color-windows95-blue-50);

            padding: useClamp(26) useClamp(12);
          }
        }
      }
    }

    .background {
      width: 100%;
      height: 100%;
      position: relative;

      z-index: 1;

      &::before {
        content: '';

        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;

        clip-path: polygon(0 100%, 0 0, 100% 0, 99% 5%, 1.2% 5%, 1.2% 99%);

        background: var(--color-windows95-gray-300);
      }

      &::after {
        content: '';

        width: 100%;
        height: 100%;

        position: absolute;
        right: 0;

        clip-path: polygon(
          1.2% 95%,
          99% 95%,
          99% 5%,
          100% 0,
          100% 100%,
          0 100%
        );

        background: var(--color-windows95-gray-50);
      }
    }
  }

  .buttons {
    grid-area: buttons;
    position: relative;

    .content {
      width: 98%;
      height: 90%;

      position: absolute;
      inset: 0;
      margin: auto;

      z-index: 2;

      background: var(--color-windows95-gray-500);

      display: grid;
      grid-template-columns: repeat(5, 1fr);

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: useClamp(12) 0;

        background: var(--color-windows95-gray-200);
        border: 5px solid var(--color-windows95-gray-500);

        img {
          width: 16px;
          height: auto;
        }

        position: relative;
        overflow: hidden;

        &::before {
          content: '';
          width: 100vw;

          position: absolute;
          top: 0;

          padding: useClamp(8);

          background: var(--color-windows95-gray-100);
        }

        &::after {
          content: '';
          width: 100vw;

          position: absolute;
          bottom: 0;

          padding: useClamp(8);

          background: var(--color-windows95-gray-300);
        }

        &:hover,
        &:focus {
          cursor: pointer;

          &::before,
          &::after {
            display: none;
          }

          background: linear-gradient(
            to bottom,
            hsl(200, 3%, 18%),
            hsl(210, 2%, 25%)
          );

          box-shadow: inset 0px 2.68313px 4.02469px rgba(0, 0, 0, 0.5);
        }
      }
    }

    .background {
      width: 100%;
      height: 100%;
      position: relative;

      z-index: 1;

      &::before {
        content: '';

        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;

        clip-path: polygon(0 100%, 0 0, 100% 0, 99% 5%, 1.2% 5%, 1.2% 95%);

        background: var(--color-windows95-gray-300);
      }

      &::after {
        content: '';

        width: 100%;
        height: 100%;

        position: absolute;
        right: 0;

        clip-path: polygon(
          1.2% 95%,
          99% 95%,
          99% 5%,
          100% 0,
          100% 100%,
          0 100%
        );

        background: var(--color-windows95-gray-50);
      }
    }
  }

  .length-container {
    overflow: hidden;
    position: relative;

    grid-area: length;
    width: 100%;
    height: 36px;

    .meter {
      width: 98%;
      height: 80%;

      z-index: 2;

      position: absolute;
      inset: 0;
      margin: auto;

      background: var(--color-windows95-gray-500);

      .progress {
        width: 30%;
        height: 100%;
        padding: 10px;

        background: var(--color-windows95-blue-100);
      }
    }

    .background {
      width: 100%;
      height: 100%;
      position: relative;

      z-index: 1;

      &::before {
        content: '';

        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;

        clip-path: polygon(0 100%, 0 0, 100% 0, 99% 8%, 1% 8%, 1% 90%);

        background: var(--color-windows95-gray-300);
      }

      &::after {
        content: '';

        width: 100%;
        height: 100%;

        position: absolute;
        right: 0;

        clip-path: polygon(1% 90%, 99% 90%, 99% 8%, 100% 0, 100% 100%, 0 100%);

        background: var(--color-windows95-gray-50);
      }
    }

    background: var(--color-windows95-gray-500);
  }
}
