@mixin setBackground($theme, $primary) {
  &[data-theme='#{$theme}'] {
    background: $primary;

    .player-container {
      grid-area: player;
    }
  }
}

body {
  @include setBackground('windows95', var(--color-windows95-blue-50));
  @include setBackground('modern', var(--color-modern-yellow-200));
  @include setBackground('retro', red);
}

.player-container {
  width: 100%;
  height: 100vh;

  display: grid;
  place-items: center;

  grid-template-rows: 2% 88% 4% 6%;
  grid-template-columns: 10% 80% 10%;
  grid-template-areas:
    '. . .'
    '. player .'
    '. author .'
    '. . .';

  .player {
    width: 100%;
    height: 100%;

    grid-area: player;
  }

  .author {
    grid-area: author;
  }
}
